/elk/elasticsearch/data/*
!/elk/elasticsearch/data/.gitkeep
/elk/elasticsearch/logs/*
!/elk/elasticsearch/logs/.gitkeep

/mongo/data/*
!/mongo/data/.gitkeep
/mongo/logs/*
!/mongo/logs/.gitkeep

/mysql5.7/data/*
!/mysql5.7/data/.gitkeep
/mysql5.7/logs/*
!/mysql5.7/logs/.gitkeep

/mysql8/data/*
!/mysql8/data/.gitkeep
/mysql8/logs/*
!/mysql8/logs/.gitkeep

/nginx/logs/*
!/nginx/logs/.gitkeep

/postgres/data/*
!/postgres/data/.gitkeep
/postgres/logs/*
!/postgres/logs/.gitkeep

/rabbitmq/data/*
!/rabbitmq/data/.gitkeep
/rabbitmq/logs/*
!/rabbitmq/logs/.gitkeep

/redis/data/*
!/redis/data/.gitkeep
/redis/logs/*
!/redis/logs/.gitkeep

/supervisor/logs/*
!/supervisor/logs/.gitkeep

/jenkins/data/*
!/jenkins/data/.gitkeep

!/golang/Dockerfile

/www/
.idea/
.env
lapSites.iml