# 全局设置
user  www;  # 指定nginx worker进程运行的用户
worker_processes  auto;  # 自动确定worker数量
error_log  /etc/nginx/logs/error.log warn;  # debug：最详细，info：一般信息级别，notice：用于记录一般但重要的信息，warn：警告级别，error：错误级别，critical：严重错误级别，alert：警戒级别,emerg：紧急级别
pid        /etc/nginx/logs/nginx.pid;  # 进程ID文件路径

# events模块设置
events {
    worker_connections  1024;  # 每个worker进程允许的最大连接数
}

# HTTP模块设置
http {
    include       /etc/nginx/mime.types;  # 引入MIME类型定义文件
    default_type  application/octet-stream;  # 默认MIME类型

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';  # 访问日志格式

    access_log  /var/log/nginx/access.log  main;  # 访问日志路径和格式

    sendfile        on;  # 开启sendfile系统调用以提高文件传输效率
    tcp_nopush     on;  # 开启TCP_NOPUSH选项以减少网络传输延迟
    tcp_nodelay    on;  # 开启TCP_NODELAY选项以减少网络传输延迟
    keepalive_timeout  65;  # 客户端空闲超时时间
    types_hash_max_size 2048;  # MIME类型散列表大小

    include /etc/nginx/vhosts/*.conf;  # 引入额外的配置文件

    # server模块设置
    server {
        listen       80;  # 监听端口
        server_name  localhost;  # 服务器名称

        location / {
            root   /usr/share/nginx/html;  # 网站根目录
            index  index.html index.htm;  # 默认文档
        }

        error_page   500 502 503 504  /50x.html;  # 错误页面重定向
        location = /50x.html {
            root   /usr/share/nginx/html;
        }
    }
}
